# Base16 {{scheme-name}}
# Author: {{scheme-author}}

# Main Colors
unrecognized_file: '#{{base0E-hex}}'
recognized_file:   '#{{base05-hex}}'
dir:               '#{{base0D-hex}}'

# Link
dead_link:         '#{{base08-hex}}'
link:              '#{{base0C-hex}}'

# Special files
socket:            '#{{base0B-hex}}'
blockdev:          '#{{base0B-hex}}'
chardev:           '#{{base0B-hex}}'

# Access Modes
read:              '#{{base0B-hex}}'
write:             '#{{base0A-hex}}'
exec:              '#{{base08-hex}}'
no_access:         '#{{base03-hex}}'

# Age
day_old:           '#{{base05-hex}}'
hour_old:          '#{{base05-hex}}'
no_modifier:       '#{{base05-hex}}'

# File Size
file_large:        '#{{base08-hex}}'
file_medium:       '#{{base0A-hex}}'
file_small:        '#{{base05-hex}}'

# Random
report:            '#{{base05-hex}}'
user:              '#{{base0C-hex}}'
normal:            '#{{base05-hex}}'
tree:              '#{{base0A-hex}}'
empty:             '#{{base04-hex}}'
error:             '#{{base08-hex}}'

# Git
addition:          '#{{base0B-hex}}'
modification:      '#{{base0A-hex}}'
deletion:          '#{{base08-hex}}'
untracked:         '#{{base0E-hex}}'
unchanged:         '#{{base05-hex}}'

